.header {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--main);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h1 {
  margin: 0;
  margin-left: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-light);
}

.header img {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  height: 45px;
  width: 45px;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 0.5rem auto;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: 30px;
    width: 30px;
  }
}
