.message {
  display: flex;
  flex-flow: row nowrap;
  padding: 0rem;
  padding-bottom: 0.5rem;
}

.message_sent {
  text-align: right;
  flex-flow: row-reverse nowrap;
}

.message_info {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 0.7rem;
  border-radius: 12px;
}
.message_info div {
  flex-flow: row nowrap;
  font-size: 0.7rem;
  border-radius: 12px;
  background-color: var(--message-info);
  color: var(--text-light);
  padding: 0.5rem;
}

.message img {
  height: 2rem;
  margin-right: 0.5rem;
}

.message_sent img {
  height: 2rem;
  margin-left: 0.5rem;
}

.username {
  font-size: 0.7rem;
  text-align: left;
  color: var(--text);
  font-weight: bolder;
  padding-bottom: 0.2rem;
}

.username_sent {
  text-align: right;
}

.text {
  font-size: 1rem;
  text-align: left;
  color: var(--text-light);
  max-width: 20rem;
  word-wrap: break-word;
  background-color: var(--message2);
  border-radius: 12px;
  padding: 0.5rem;
}

.text_sent {
  background-color: var(--message1);
}

.timestamp {
  font-size: 0.6rem;
  text-align: right;
  color: var(--message-info);
  padding-top: 0.1rem;
}

.timestamp_sent {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .message img {
    height: 3.5rem;
    margin-right: 0.5rem;
  }

  .message_sent img {
    height: 3.5rem;
    margin-left: 0.5rem;
  }
}
