.logout_header {
  margin: 2rem auto;
  margin-top: -8rem;
  padding: 1rem;
  width: 90%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logout_header div {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: rgb(133, 133, 133);
  width: 100%;
  display: flex;
  align-items: center;
}

.logout_header span {
  margin-left: 0.5rem;
  color: #1ecd97;
  font-weight: bold;
}

.logout_button {
  border: 1px solid hsl(27, 100%, 60%);
  color: hsl(27, 100%, 60%);
  height: 2rem;
}

.logout_button:hover {
  background: hsl(27, 100%, 60%);
}
