.logout_header {
  margin: 2rem auto;
  margin-top: -8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 90%;
  height: 10rem;
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logout_header div {
  font-size: 1.5rem;
  color: var(--text);
  display: flex;
  justify-content: flex-start;
}

.logout_header span {
  margin-left: 0.5rem;
  color: var(--main);
  font-weight: bold;
}

.logout_button {
  border: 1px solid var(--logout);
  color: var(--logout);
  height: 2rem;
}

.logout_button:hover {
  background: var(--logout);
}

@media screen and (max-width: 600px) {
  .logout_header {
    margin-top: -5.2rem;
    margin-bottom: 0.5rem;
    height: 8.5rem;
    border-radius: 12px;
    border: 1px solid var(--border);
  }

  .logout_header div div {
    display: none;
  }
}
