.sidebar {
  margin-right: 0.5rem;
  padding: 1rem;
  width: 20%;
  height: 100%;
}

.sidebar div:first-child {
  color: var(--text);
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 90%;
  overflow-y: auto;
}

.sidebar li {
  margin-top: 0.5rem;
}

/* .sidebar li:first-child {
  font-weight: bold;
}
 */

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .sidebar {
    width: 25%;
  }
}
